.subscribe {
    margin-top: 180px;
    padding-top: 150px;
    position: relative;
    @media screen and (max-width: 480px) {
        margin-top: 60px; 
        padding-top: 50px;   
    }
}

.subscribe-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (max-width: 480px) {
        bottom: -70px;
        top: unset;    

    }
}

.subscribe-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-title {
    margin-bottom: 90px;
    color: #1E1E1E;
    text-align: center;
    /* H1/Raleway 76 */
    font-family: 'Raleway';
    font-size: 76px;
    font-weight: 800;
    line-height: 1.3; /* 98.8px */
    @media screen and (max-width: 480px) {
        font-size: 24px; 
        margin-bottom: 10px;

    }
}

.subscribe-form {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    border: none;
    border-bottom: 2px solid #121CD6;
    padding: 18px 30px;
    @media screen and (max-width: 480px) {
        width: 80%;
        padding: 10px 30px;    
    }
  }
  
  .subscribe-form input {
    color: #5E5E5E;
    /* H3/Lato SemiBold */
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3; /* 31.2px */
    border: none;
    background: transparent;
    outline: none;
    @media screen and (max-width: 480px) {
        font-size: 14px;  
    }
  }

  .subscribe-btn {
    border: none;
    background: none;
  }

  .subscribe-btn-icon {
    position: relative;
    width: 28px;
    height: 28px;
    padding: 6px;
    border-radius: 16px;
    background: #F3EF0A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-btn-icon svg {
    position: absolute;
    transition: all 0.3s ease;
}

.subscribe-btn .arrow-default {
    opacity: 1;
    transform: translate(0, 0);
}

.subscribe-btn .arrow-hover {
    opacity: 0;
    transform: translate(-6px, 6px);
}

.subscribe-btn:hover .arrow-default {
    opacity: 0;
    transform: translate(6px, -6px);
}

.subscribe-btn:hover .arrow-hover {
    opacity: 1;
    transform: translate(0, 0);
}

.subscribe-btn:active {
    background: #F7F3F0;
}

.subscribe-btn:active .submit-btn-icon {
    background: #F3EF0A;
}

