.trade {
    margin-top: 160px;
}

.trade-title {
    color: #1E1E1E;
    max-width: 1133px;
    width: 100%;

    /* H1/Raleway 76 */
    font-family: 'Raleway';
    font-size: 76px;
    font-weight: 800;
    line-height: 1.3; /* 98.8px */
}

.trade-content {
    width: 100%;
    display: flex;
    justify-content: end;
}

.trade-text {
    position: sticky;

    color: #1E1E1E;
    margin: 80px 0px;
    max-width: 678px;
    width: 100%;

    /* H2/Lato  SemiBold */
    font-family: 'Lato';
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3; /* 46.8px */
}

.trade-list {
    margin-left: 230px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 30%;
}

.trade-item {
    position: relative;
    padding: 58px 30px;

    border-radius: 24px;
    border: 2px solid #121CD6;
    background: #F7F3F0;

    opacity: 0;
    transform: translateY(100%);
}

.trade-item.trade-show {
    opacity: 1;
    transition: all 900ms;
    transform: translateY(0%);
}

.trade-item-title {
    position: absolute;
    left: -15px;
    top: -30px;

    color: #F7F3F0;

    /* H3/Lato SemiBold */
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3; /* 31.2px */

    display: inline-flex;
    align-items: center;
    z-index: 3;

    // margin: 0 0 0 -40px;
    padding: 12px 30px 12px 41px;

    border-radius: 24px;
    border: 2px solid #121CD6;
    background: linear-gradient(0deg, #121CD6 0%, #121CD6 100%), #F7F3F0;
}

.trade-item-text {
    color: #1E1E1E;

    /* Body/Bold */
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6; /* 28.8px */
}


